

.section-header .sign-pill {
    width: 250px;
    background-color: #ffe948;
    margin: 30px 0;
    height: 40px;
}
/* 485da7  blue */
.section-header .sign-pill .client{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.animtion {
    background-color: #485da7;
    height: 100%;
    width: 50%;
    transition: 0.5s;
}

.active {
    transform: translateX(100%);
}

.section-header .sign-pill .brand{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;

}

.sign {
    min-height: 400px;
}



.form-check-input:checked {
    background-color: #485da7;
    border-color: #485da7;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #485da7;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #485da740;
}

.btn-submit {
    background-color: #485da7;
}